{% extends "base.html" %}

{% block content %}

    <h2>Geotube v{{ version }}</h2>
    <h3> {{ title }} </h3>
    <div><p>
    Created in 2018 using Python/Flask. <br>
    For educational and entertainment purposes only. <br>
    Pulls youtube videos by location. <br>
    Created by hanathatsme [at] gmail
    <p>
    Recommend using Chrome with <a href="https://chrome.google.com/webstore/detail/google-translate/aapbdbdomjkkjkaonfhkkikfgjllcleb" target="_blank">Google Translate add-on</a>
    </p>
    <h3> Geotube Privacy Policy </h3>
    <br> This app uses YouTube API Services. <br>
    Users are bound by the <a href = "https://www.youtube.com/t/terms">YouTube Terms of Service</a>,
    and submitting assumes agreement with <a href = "http://www.google.com/policies/privacy">Google Privacy policy</a>.
    <br>
    No data, including search results and visitor data, is collected, saved or stored.

    </p></div>


{% endblock %}