<html>

    <head>
        {% if title %}
        <title>Geotube v{{ version }}</title>
        {% else %}
        <title>Geotube {{ version }}</title>
        {% endif %}
    </head>

    <body>

        <div>
        <a href="{{ url_for('index') }}">Home || </a>
        <a href="{{ url_for('index2') }}">Search by Date || </a>
        <a href="{{ url_for('index3') }}">Search Live || </a>
        <a href="{{ url_for('about') }}">About</a>
        </div>

        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </body>

</html>